.about-section {
  padding-bottom: 50px;
  @include media-breakpoint-up(xl) {
    padding: 100px;
  }
}
.about {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(xl) {
    justify-content: flex-end;
  }
}
.about__text {
  display: flex;
  flex-direction: column;
  max-width: 790px;
  padding: 20px 40px;
  border-right: 8px solid $main-color;
  background-color: white;
  @include media-breakpoint-up(xl) {
    position: absolute;
    left: 0;
    padding: 50px;
  }
}
.about__picture {
  display: none;
  @include media-breakpoint-up(xl) {
    display: block;
  }
}
