.cta {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(xl) {
    justify-content: flex-start;
  }
}
.cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 512px;
  padding: 20px 40px;
  border-left: 8px solid $main-color;
  background-color: white;
  @include media-breakpoint-up(xl) {
    padding: 50px;
  }
  @include media-breakpoint-up(xl) {
    position: absolute;
    right: 0;
  }
}
.cta__info {
  width: 100%;
  padding: 12px 10px;
}
.cta__picture {
  display: none;
  @include media-breakpoint-up(xl) {
    display: block;
  }
}
