.vantages {
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.title-holder {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.vantages__list-holder {
  position: relative;
}
.vantages-button-holder {
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
  height: 100%;
  @include media-breakpoint-up(lg) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.vantages-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff0;
  color: white;
  font-size: 36px;
  @include media-breakpoint-up(md) {
    color: black;
  }
  @include media-breakpoint-up(lg) {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size: 18px;
  }
  &:hover {
    background-color: #ffffffba;
    color: black;
    @include media-breakpoint-up(md) {
      background-color: #00000016;
      color: white;
    }
    @include media-breakpoint-up(lg) {
      background-color: white;
      color: black;
    }
  }
}
.vantages__list {
  justify-content: center;
  @include media-breakpoint-up(lg) {
    justify-content: space-between;
  }
}
.vantages__item {
  position: relative;
  max-width: 610px;
}
.vantages__content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  align-content: end;
  max-width: 100%;
  height: 100%;
  padding: 30px 42px;
}
.plain-text--vantages {
  padding-top: 15px;
  color: white !important;
}
.vantages__item--show {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
