section.footer-section
  .container
    .row
      .footer-content-wrap.col-xl-5
        a.top-button(aria-label='top sckroll' href='#header')
          span.icon-arrow
        .footer-logo-holder
          a.footer-logo(aria-label='logo' href='')
            img(src='./img/footer-logo.svg' alt='')
        .footer-content.plain-text
          nav.footer-nav
            ul.footer-nav__list
              li.footer-nav__item
                a(href='') Дивани
              li.footer-nav__item
                a(href='') Ліжка
              li.footer-nav__item
                a(href='') Крісла
              li.footer-nav__item
                a(href='') Шафи
              li.footer-nav__item
                a(href='') Кухні
              li.footer-nav__item
                a(href='') Комоди
          nav.footer-nav
            ul.footer-nav__list
              li.footer-nav__item
                a(href='') АкцІї
              li.footer-nav__item
                a(href='') Доставка та оплата
              li.footer-nav__item
                a(href='') Про нас
              li.footer-nav__item
                a(href='') Контакти
          .footer-inf-holder.plain-text.color-white
            ul.footer-inf
              li.footer-inf__item
                span.icon-map-pin.footer-icon
                span TEST
              li.footer-inf__item
                span.icon-calendar.footer-icon
                span Пн-Пт, з 10 до 18
              li.footer-inf__item
                span.icon-mobile.footer-icon
                .tel-holder
                  a.footer-tel(href='tel:+380991112233') (099) 111 22 33
                  a.footer-tel.pt-5(href='tel: +380992223344') (099) 222 33 44
            .footer-social
              span Ми в соціальних мережах:
              ul.socials.justify-content-start
                li.socials__item
                  a.socials__link(aria-label='telegram' href='')
                    span.icon-telegram
                li.socials__item
                  a.socials__link(aria-label='facebook' href='')
                    span.icon-facebook
                li.socials__item
                  a.socials__link(aria-label='instagram' href='')
                    span.icon-instagram
        p.plain-text.color-white
          | &#169; ТОВ Furniture, працюємо з 2006 року
      picture.footer-img.col-xl-7
            source(srcet='./img/footer-img-1x.webp 1x, ./img/footer-img-2x.webp 2x'
              type='image/webp')
            source(srcet='./img/footer-img-1x.jpg 1x, ./img/footer-img-2x.jpg 2x'
              type='image/jpeg')
            img(src='./img/footer-img-1x.jpg' alt='Про нас' loading='lazy')

