header
  .container
    .header-cap
      .header-contacts.plain-text
        .header-socials-wrap
          .dropdown-nav
            button.dropdown-button.toggle-class-js(data-target='.dropdown-nav__content' data-class-to-toggle='dropdown-show')
              span.icon-menu.pr-5
            .dropdown-nav__content
              ul
                li
                  a.dropdown-nav__link.plain-text.fw-700(href='') Головна
                li
                  a.dropdown-nav__link.plain-text.fw-700(href='') АкцІї
                li
                  a.dropdown-nav__link.plain-text.fw-700(href='') Доставка та оплата
                li
                  a.dropdown-nav__link.plain-text.fw-700(href='') Про нас
                li
                  a.dropdown-nav__link.plain-text.fw-700(href='') Контакти
          span.plain-text.fw-700.d-none Ми в соціальних мережах:
          ul.socials
            li.socials__item
              a.socials__link(href='')
                span.icon-telegram
            li.socials__item
              a.socials__link(href='')
                span.icon-facebook
            li.socials__item
              a.socials__link(href='')
                span.icon-instagram
        .head-tel-wraper
          a.header-tel(href='tel: +380991112233')
            span.icon-mobile
            | (099)11 12 233
          .dropdown-tel
            button.dropdown-button.p-5.toggle-class-js(data-target='.dropdown-tel__content' data-class-to-toggle='dropdown-show')
              span.icon-vector.pl-5
            .dropdown-tel__content
              ul
                li
                  a.dropdown-tel__link(href='tel: +380960000000') (096) 00 00 000
                li
                  a.dropdown-tel__link(href='tel: +380967777777') (095) 77 77 777
                li
                  a.dropdown-tel__link(href='tel: +380969999999') (096) 99 99 999
      nav.header-nav.d-none
        ul.plain-text.fw-700.header-nav__list
          li.header-nav__item
            a.header-nav__link(href='') Головна
          li.header-nav__item
            a.header-nav__link(href='') АкцІї
          li.header-nav__item
            a.header-nav__link(href='') Доставка та оплата
          li.header-nav__item
            a.header-nav__link(href='') Про нас
          li.header-nav__item
            a.header-nav__link(href='') Контакти
  hr
  .header-cap-lower
    .container
      .row.d-flex
        .col-6
          a.logo-link-min(href='')
            img(src='./img/logo-min.svg' alt='')
          a.logo-link(href='')
            img(src='./img/logo.svg' alt='')
        .col-6
          .plain-text.fw-700.d-flex.justify-content-end
            a.shopping-cart(href='')
              span.icon-shopping-cart.shopping-cart__icon
              span.shopping-cart__text Кошик
            .header-button-wrap
              button.main-button Замовити дзвінок
      nav.header-nav.d-none
        ul.plain-text.fw-700.header-nav__list
          li.header-nav__item.pl-0
            a.header-nav__link(href='') Дивани
          li.header-nav__item
            a.header-nav__link(href='') ліжка
          li.header-nav__item
            a.header-nav__link(href='') Крісла
          li.header-nav__item
            a.header-nav__link(href='') комоди
          li.header-nav__item
            a.header-nav__link(href='') шафи
          li.header-nav__item
            a.header-nav__link(href='') Кухня
  .container.header-cap-lower-xxxl
    .row.d-flex
      .col-xl-4.col-xxxl-5
        nav.header-nav.d-none
          ul.plain-text.fw-700.header-nav__list
            li.header-nav__item.pl-0
              a.header-nav__link(href='')
                | Дивани
                span.icon-vector.vector-show.pl-5
            li.header-nav__item
              a.header-nav__link(href='')
                | Ліжка
                span.icon-vector.vector-show.pl-5
            li.header-nav__item
              a.header-nav__link(href='')
                | Крісла
                span.icon-vector.vector-show.pl-5
            li.header-nav__item
              a.header-nav__link(href='')
                | Комоди
                span.icon-vector.vector-show.pl-5
            li.header-nav__item
              a.header-nav__link(href='')
                | Шафи
                span.icon-vector.vector-show.pl-5
            li.header-nav__item
              a.header-nav__link(href='')
                | Кухня
                span.icon-vector.vector-show.pl-5
      .col-xl-4.xxxl-col-3.d-flex.justify-center
        a.logo-link(href='')
          img.max-width-100(src='./img/logo.svg' alt='')
      .col-xl-4
        .plain-text.fw-700.d-flex.justify-content-end
          a.shopping-cart(href='')
            span.icon-shopping-cart.shopping-cart__icon
            span.shopping-cart__text Кошик
          .header-button-wrap
            button.main-button Замовити дзвінок
