section
  .container
    .row
        .title-holder
          h2.title-2 Залишились питання?
        .callback
          .callback__content.plain-text
            h3.title-3.pb-30 Замовте консультацію
            form(action='')
              input.callback__info(type='text' name='name' required='required' placeholder ='Олег')
              input.callback__info.mt-15(type='tel' name='tel' required='required' placeholder ='Номер телефону')
              button.main-button.width-100.mt-15 ВІдправити
            p.pt-30
              | Залиште заявку або телефонуйте за номером 
              b (099) 111 22 33
              |, і наш менеджер звяжеться з вами для кваліфікованої консультації.
          .callback__picture.col-lg-9
            picture
              source(srcet='./img/cta_1x.webp 1x, ./img/cta_2x.webp 2x'
                type='image/webp')
              source(srcet='./img/cta_1x.jpg 1x, ./img/cta_2x.jpg 2x'
                type='image/jpeg')
              img(src='./img/cta_1x.jpg' alt='Про нас' loading='lazy')
