section.pb-100
  .container
    .categories
      .title-holder
        h2.title-2 Категорії товарів
      ul.row
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-sofa
            span.categories__text Дивани
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-bed
            span.categories__text Ліжка
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-chair
            span.categories__text Крісла
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-commode
            span.categories__text комоди
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-wardrobe
            span.categories__text Шафи
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-kitchen
            span.categories__text Кухня
    .bed
      ul.row.bed__list
        li.bed__item.col-lg-4
          a.bed__link(href='')
            .attention-wrap
              span.attention-text Новинка
            img(src='./img/bed-1.jpg' alt='')
            p.bed__content
              span.bed__name Ліжко Рамона
              span.bed__cost 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            .attention-wrap
              span.attention-text Хіт продаж
              span.attention-text.r-background.mt-5 Акція
            img(src='./img/bed-2.jpg' alt='')
            p.bed__content
              span.bed__name Ліжко Честер
              span.bed__cost 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            img(src='./img/bed-3.jpg' alt='')
            p.bed__content
              span.bed__name Ліжко Венеція люкс
              span.bed__cost 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            .attention-wrap
              span.attention-text Новинка
            img(src='./img/bed-4.jpg' alt='')
            p.bed__content
              span.bed__name Ліжко Імперія
              span.bed__cost 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            img(src='./img/bed-5.jpg' alt='')
            p.bed__content
              span.bed__name Ліжко Адель
              span.bed__cost 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            .attention-wrap
              span.attention-text Хіт продаж
              span.attention-text.r-background.mt-5 Акція
            img(src='./img/bed-6.jpg' alt='')
            p.bed__content
              span.bed__name Ліжко Атлант
              span.bed__cost 8 999 грн
    .categories-button
      button.main-button В каталог
