section
  .container
    .vantages
      .title-holder
        h2.title-2 Наші переваги
      .vantages__list-holder
        .vantages-button-holder.l-0
          button.vantages-button
            span.icon-arrow-left
        .vantages-button-holder.r-0
          button.vantages-button
            span.icon-arrow-right
        ul.row.vantages__list
          li.vantages__item.col-lg-4
            img(src='./img/vantages-img-1.jpg' alt='' loading='lazy')
            .vantages__content
              h3.title-3.color-white.text-underline Меблі преміум класу
              span.vantages-text-show.plain-text За 14 років на ринку меблів для дому ми стали надійними
                |  партнерами на ринку Вінницької області та України
          li.vantages__item.col-lg-4.vantages__item--show
            img(src='./img/vantages-img-2.jpg' alt='' loading='lazy')
            .vantages__content
              h3.title-3.color-white.text-underline Надійність
              span.vantages-text-show.plain-text За 14 років на ринку меблів для дому ми стали надійними
                |  партнерами на ринку Вінницької області та України
          li.vantages__item.col-lg-4.vantages__item--show
            img(src='./img/vantages-img-3.jpg' alt='' loading='lazy')
            .vantages__content
              h3.title-3.color-white.text-underline Безкоштовна доставка
              span.vantages-text-show.plain-text За 14 років на ринку меблів для дому ми стали надійними
                |  партнерами на ринку Вінницької області та України
