section
  .container
    .vantages
      h2.title-2.pt-100.pb-50 Наші переваги
      ul.row.vantages__list
        li.vantages__item.col-xl-4
          button.vantages-button.vantages-button-l
            span.icon-arrow-left
          button.vantages-button.vantages-button-r
            span.icon-arrow-right
          img(src='./img/vantages-img-1.jpg' alt='')
          p.vantages__content Меблі преміум класу
        li.vantages__item.col-xl-4.vantages__item--show
          img(src='./img/vantages-img-2.jpg' alt='')
          p.vantages__content.pt-0
            span Надійність
            span.plain-text.plain-text--vantages За 14 років на ринку меблів для дому ми стали надійними
              |  партнерами на ринку Вінницької області та України
        li.vantages__item.col-xl-4.vantages__item--show
          button.vantages-button
            span.icon-arrow-right
          img(src='./img/vantages-img-3.jpg' alt='')
          p.vantages__content Безкоштовна доставка
