@each $pd in (0, 5) {
  .p-#{$pd} {
    padding: #{$pd}px;
  }
}
@each $pt in (0, 5, 8, 18, 100) {
  .pt-#{$pt} {
    padding-top: #{$pt}px;
  }
}
@each $pr in (0, 5, 15) {
  .pr-#{$pr} {
    padding-right: #{$pr}px;
  }
}
@each $pb in (10, 50) {
  .pb-#{$pb} {
    padding-bottom: #{$pb}px;
  }
}
@each $pl in (0, 5, 50) {
  .pl-#{$pl} {
    padding-left: #{$pl}px;
  }
}

.m-0 {
  margin: 0;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.d-block {
  display: block;
}
.text-uppercase {
  text-transform: uppercase;
}
.plain-text {
  color: #1e2e36;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  @include media-breakpoint-up(xxl) {
    font-size: 18px;
  }
}
.fw-700 {
  font-weight: 700;
}
.title-2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
