@each $pd in (0, 5) {
  .p-#{$pd} {
    padding: #{$pd}px;
  }
}
@each $pt in (0, 5, 8, 15, 18, 30, 100) {
  .pt-#{$pt} {
    padding-top: #{$pt}px;
  }
}
@each $pr in (0, 5, 15) {
  .pr-#{$pr} {
    padding-right: #{$pr}px;
  }
}
@each $pb in (10, 30, 50, 100) {
  .pb-#{$pb} {
    padding-bottom: #{$pb}px;
  }
}
@each $pl in (0, 5, 50) {
  .pl-#{$pl} {
    padding-left: #{$pl}px;
  }
}

.r-0 {
  right: 0;
}
.l-0 {
  left: 0;
}
.m-0 {
  margin: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-15 {
  margin-top: 15px;
}
.ml-0 {
  margin-left: 0;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.d-block {
  display: block;
}
.text-uppercase {
  text-transform: uppercase;
}
.color-white {
  color: white;
}
.plain-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  @include media-breakpoint-up(xl) {
    font-size: 14px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 18px;
  }
}
.fw-700 {
  font-weight: 700;
}
.title-2 {
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  @include media-breakpoint-up(lg) {
    font-size: 32px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 36px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 48px;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 18px;
    height: 100%;
    background-color: $main-color;
  }
}
.title-3 {
  font-size: 22px;
  font-weight: 700;
  text-underline-offset: 10px;
  @include media-breakpoint-up(md) {
    font-size: 28px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 36px;
  }
}
.text-underline {
  text-decoration: underline solid $main-color 3px;
}
.background-accent {
  background-color: $accent;
}
.color-green {
  color: $main-color;
}
.width-100 {
  width: 100%;
}
