.d-none {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
.main-button {
  padding: 5px 18px;
  border: none;
  border-radius: 3px;
  background: #44c697;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    padding: 14px 22px;
  }
  @include media-breakpoint-up(xxxl) {
    padding: 16px 48px;
    font-size: 18px;
  }
}
.header-cap {
  @include media-breakpoint-up(xl) {
    display: flex;
    justify-content: space-between;
  }
}
.icon-menu {
  font-size: 36px;
}
.header-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  text-align: center;
}
.header-socials-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  padding-left: 6px;
}
.socials__link {
  font-size: 34px;
}
.icon-vector {
  font-size: 6px;
}
.head-tel-wraper {
  display: inline-flex;
  align-items: center;
}
.header-tel {
  display: inline-flex;
  align-items: center;
  @include media-breakpoint-up(lg) {
    padding-left: 50px;
  }
}
.icon-mobile {
  font-size: 20px;
}
.dropdown-nav,
.dropdown-tel {
  display: inline-block;
  position: relative;
}
.dropdown-nav {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.dropdown-button {
  border: none;
  background-color: white;
  color: black;
}
.dropdown-nav__content,
.dropdown-tel__content {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 8px;
  background: white;
  &:before {
    content: '';
    display: block;
    width: 3px;
    height: auto;
    background: #44c697;
  }
}
.dropdown-tel__content {
  right: 0;
  min-width: 150px;
}
.dropdown-nav__content {
  min-width: 200px;
}
.dropdown-show {
  display: flex;
}
.dropdown-tel__link,
.dropdown-nav__link {
  display: block;
  left: 0;
  padding: 15px 8px;
  text-align: start;
  &:hover {
    text-decoration: underline solid #44c697 3px;
    text-underline-offset: 3px;
  }
}
.header-nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  @include media-breakpoint-up(xl) {
    justify-content: flex-start;
  }
}
.header-nav__item {
  padding-top: 32px;
  padding-left: 15px;
}
.header-nav__link {
  text-transform: uppercase;
}
.header-nav__link:hover {
  text-decoration: underline solid #44c697 3px;
  text-underline-offset: 6px;
}
.vector-show {
  display: none;
  @include media-breakpoint-up(xxxl) {
    display: inline-block;
  }
}
.header-cap-lower {
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
.header-cap-lower-xxxl {
  display: none;
  @include media-breakpoint-up(xl) {
    display: block;
  }
}
.logo-link-min {
  display: inline-block;
  max-width: 80px;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.logo-link {
  display: none;
  max-width: 176px;
  @include media-breakpoint-up(lg) {
    display: inline-block;
    max-width: 250px;
  }
  @include media-breakpoint-up(xxxl) {
    max-width: 360px;
  }
}
.shopping-cart {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.shopping-cart__icon {
  display: block;
  padding-right: 5px;
  font-size: 32px;
}
.shopping-cart__text {
  display: block;
  text-transform: uppercase;
}
.header-button-wrap {
  display: flex;
  align-items: center;
}
