@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ProximaNova-bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ProximaNova-regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: icomoon;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/icomoon.woff2') format('woff2'),
    url('../fonts/icomoon.woff') format('woff');
  font-display: swap;
}
